.sidebar{

  width:220px;

  height:calc(100vh - 70px);

  background:#020617;

  padding:25px;

  display:flex;
  flex-direction:column;

  gap:15px;

  border-right:1px solid rgba(255,255,255,0.05);
}

.sidebar h2{

  color:white;
  margin-bottom:10px;
}

.sidebar button{

  background:#1e293b;

  border:none;

  color:white;

  padding:12px;

  border-radius:8px;

  cursor:pointer;

  text-align:left;
}

.sidebar button:hover{

  background:#334155;
}

.logout{

  margin-top:-7px;

  background:#ef4444 !important;
}